html {
    display: flex;
    justify-content: center;
}

body {
    background-color:steelblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    width: 100%;
    font-size: 48px;
    margin-top: 25px;
}


.reset {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin:15px;
    background-color: blanchedalmond;



}

.subheader {

    display: flex;
    justify-content: center;
    align-content: center;
    color: whitesmoke;

}


.container {
    display: flex;
    height: 10px;
    width: 10px; 
    margin: 15px;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.75s ease;
}

.container2 {
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    align-content: center;
}


.cell {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: none;
    padding: none;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255, 252, 248);
}



/* {border: 1px solid red;}